body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

#live {
    margin-top: 40px;
}

.match-admin {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.match-admin input {
    width: 50px;
    text-align: center;
}

.match-live {
    margin-bottom: 6px;
}
